node_modules
npm-debug.log
Dockerfile
.dockerignore
.git
.github
.gitignore
README.md
.env.local
.env.development
coverage
.vscode
*.log
target/
!target/*.jar
.mvn/
mvnw
mvnw.cmd
.gradle/
build/
.idea/
*.iml
